// Place all the styles related to the principal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color : #000;
	color: #fff;
	font-family: Rockwell;
}

h1,h2 {
	text-align: center;
}

.seccion_soporte {
	background-color : #006666;
	text-align: center;
}

.seccion_producto {
	background-color : 	#4C0000;
	text-align: center;
}

#respuesta_soporte{
	color: #000;
	background-color: #f60;
	font-style: bold;
}
